@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    background: #00234D;

}
.logo{
    width: 257px;
    display: block;
    margin-top: 16px;
    margin-bottom: 26px
}
.logo > img{
    width: 100%;
}

.inner-header{
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin-left: 320px;
}
.info-text > p{
    
font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 112.5%;
color: #FFFFFF;
white-space: nowrap;
}
.info-text{
    display: flex;
    align-items: center;
    margin-bottom: 4px;

}
.info-text > img{
    margin-right: 11px;

}
.info{
    margin-right: 33px;

}
.info:last-child{
    margin-right: 0;
}
.info-text-2 > p{
    text-align: right;
    width: -webkit-fill-available;
}
.top-header{
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: center;
}
.soc{
    display: block;
    width: 22px;
    height: 22px;
    margin-left: 10px;
}
.soc > img{
    width: 100%;
    height: 100%;
}
.social{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 8px;

}
.line{
    height: 1px;
    width: 100%;
    background-color: #D9AF42;
    margin: 20px 0;
}
.menu-header{
    width: 100%;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu{
    display: flex;
}
.menu > li  > a{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

color: #E4E4E4;
}
.menu > li {
    margin-right: 12px;
    position: relative;
}
.menu-item::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
  }
.header-content{
    max-width: 1920px;
    margin: auto;
}
  .menu-item:hover::after {
    width: 100%;
    background: #D9AF42;;
  }
  .submenu{
    border-radius: 0px 0px 5px 5px;
    max-width: 590px;
    position: absolute;
    background: #00234d;
    top: 20px;
display: none;
  }
.country:hover .submenu{
    display: block;
    pointer-events: visible;
}
  .submenu > div{
      padding: 22px;
  }

  .sub-group{
      display: flex;
      justify-content: center;
  }
 
  .sub-group > a{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    display: block;
    color: #E4E4E4;
    margin: 0 4px;
    transition: .2s;
    
  }
  .sub-group > a:hover{
      color: #D9AF42;
  }
  .mobile-menu{
      display: none;
      position: relative;
  }
@media (max-width:1600px){
    .inner-header{
        margin-left: 150px;

    }
    .info-text > p{
        font-size: 18px;
    }
    .top-header{
        width: 95%;

    }
}
@media (max-width:1400px){
    .inner-header {
        margin-left: 70px;
    }
    .top-header{
        width: 100%;

    }
}
@media (max-width:1250px){
    .inner-header {
        margin-left: 20px;
    }
    .menu > li > a{
        font-size: 18px;
    }
    .sub-group > a{
        font-size: 18px;
    }
    .menu > li{
        margin-right: 10px;
    }
}

@media (max-width:1100px){

    .menu > li > a{
        font-size: 16px;
    }
    .sub-group > a{
        font-size: 16px;
    }
}
@media (max-width:1000px){
    .bottom-header,.line{
        display: none;
    }
    .inner-header {
        margin-left: 10px;
    }
    .logo {
        width: 196px;
    }
    .mobile-menu{
        display: block;
        margin-right: 20px;

    }
    .info {
        margin-right: 10px;
    }
    .burger{
        width: 50px;
        cursor: pointer;
    }
    .burger > img{
        width: 100%;
    }
    .top-header{
        justify-content: flex-start;
    }
    .info-text > p{
        font-size: 17px;
    }
    .mobile-container{
        background: #001835;
        max-width: 360px;
        position: absolute;
        right: -20px;
    top: -42px;
    display: none;
    }
    .logo-mob{
        width: 167px;

    }
    .logo-mob > img{
        width: 100%;
    }
    .mobile-content{
        padding: 12px 30px;
    }
    .mob-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

    }
    .logo-mob{
        margin-right: 70px;

    }
    .menu{
        flex-direction: column;
    }
    .sub-group{
        flex-direction: column;
        align-items: start;

    }
    .submenu{
        background:transparent;
        position: unset;
    }
    .submenu > div {
        padding: 0 22px;
    }
   .menu{
    margin-bottom: 30px;

   }
   .info-soc{
       display: block !important;
   }
   .social{
       

    justify-content: start;
   }
   .soc:first-child{
       margin-left: 0;
   }
   .soc{
    width: 18px;
    height: 18px;
   }
}

.rotate{
    transform: rotate(180deg);
}
@media (max-width:950px){
    .info:last-child{
        display: none;
    }
    .top-header{
        justify-content: space-around;
    }
}
@media(max-width:750px){
    .info-text > p {
        font-size: 14px;
    }

    
}
@media (max-width:600px){
    .info:first-child{
        display: none;
    }

}
@media (max-width:450px){
  
    .burger {
        width: 40px;
    }
        .info-text > p {
            font-size: 12px;
        }
        .info-text > img {
            margin-right: 6px;
            width: 12px;
        }
        .mobile-content {
            padding: 12px 12px;
        }
}
.main{
    background: url(../img/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.main > h2{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 120.02%;
/* or 48px */

text-align: center;
letter-spacing: 0.005em;

color: #1A1818;
padding-top: 42px;
padding-bottom: 21px;
}
.title-text > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 128.52%;
/* or 31px */

text-align: center;
letter-spacing: 0.005em;

color: #2F2B2B;
}
.title-text > p:nth-child(2){
    font-weight: 600;
}
.direct{

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 5px;
  max-width: 1270px;
  margin: auto;
  margin-top: 51px;

}
.direct-inner{
    padding: 25px 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 157.5%;
    /* or 44px */
    
    letter-spacing: 0.005em;
    
    color: #171717;

}
.direct-inner > p >span{
    font-weight: bold;
}
.rate-box{
    background: rgba(229, 229, 229, 0.2);
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
border-radius: 5px;
max-width: 654px;
padding: 15px 26px;
}
.rate-box > h4{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 113.3%;
/* or 27px */

letter-spacing: 0.005em;

color: #0D0D0D;
}

.rates-container{
    max-width: 1270px;
    margin: auto;
    margin-top: 42px;

}
.rate-item{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #919191;
    justify-content: space-between;
}
.direction{
    display:flex;
    align-items: center;
}
.rate-inner{
    margin-top: 17px;
}
.icon{
    margin-right: 9px;
    width: 23px;
    height: 23px;
}
.icon > img{
    width: 100%;
    height: 100%;
}
.direction > span{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 296.8%;
/* or 59px */

letter-spacing: 0.005em;

color: #171717;
}
.arr{
    display: flex;
    flex-direction:column;
    margin: 0 10px;

}
.amount{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150.8%;
border-left: 2px dashed #5F5F5F;
letter-spacing: 0.005em;

color: #171717;
padding: 0 15px;
width: 120px;

}
.tariff-item{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-top: 27px;

}
.tariff-item > p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 110%;
letter-spacing: 0.005em;
color: #171717;

}
.tariff-icon{
    margin-right: 31px;
}
.rates-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.btn{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 110.8%;
text-align: center;
letter-spacing: 0.12em;
cursor: pointer;
color: #1A1818;

background: linear-gradient(90.75deg, #BC8E3F 3.41%,#ffffff80  110.09%);
border: 1px solid #ffffff80;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
border-radius: 30px;
padding: 15px 21px;
display: flex;
align-items: center; 
/* #E5BD43  */
}
.btn-div{
    display: flex;
    justify-content: center;
    padding: 55px 0;
}
.btn > img{
    margin-right: 5px;
    margin-left: 5px;
}
@media(max-width:1300px){
    .direct,.rates-container{
        margin-left: 15px;
    margin-right: 15px;
    }
    .rates-container{
        align-items: unset;
    }
}


  @media (max-width:1100px){

    .direction > span,.tariff-item > p{
        font-size: 14px;

    }
    .tariff-item{
        margin-top: 10px;

    }
    .direct-inner,.title-text > p{
        font-size: 20px;
    }
    .main > h2{
        font-size: 35px;
    }
    .btn{
        font-size: 14px;
        padding: 10px 8px;

    }
    .btn > img{
        width: 20px;
    }
    .amount{
        font-size: 16px;
    }
    .rate-box > h4{
        font-size: 14px;
    }
 
      .direction > span{
        font-size: 14px;
        letter-spacing: 0.005em;
        white-space: nowrap;
      }
      .tariff-icon {
        margin-right: 10px;
    }
    .tariff-item > p{
        line-height: 192.8%;

    }
    .amount{
        padding: 0 3px;

    }
    .rate-box{
        padding: 10px 10px;

    }
    .amount {
        text-align: right;

    }
  }
  @media (max-width:800px){
      .arr > img{
        width: 15px;

      }
      .icon {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
    .tariff-icon > img{
        width: 20px;
    }
    .amount {
        font-size: 14px;
        text-align: right;
        width: 90px;

    }
    .rate-box{
        max-width: 395px;

    }
  }
  @media (max-width:767px){
      .rates-container{
          flex-direction: column;
      }
      .rate-box{
          margin-bottom: 37px;
          max-width: unset;
      }
      .rate-box:nth-child(2){
          max-width: 400px;
      }
  }
  @media (max-width:450px){
      .icon{
          display: none;
      }
      .direction > span {
        font-size: 12px;
    }
    .amount {
        font-size: 12px;
        text-align: right;
        width: 80px;
    }
    .main > h2 {
        font-size: 25px;
    }
    .direct-inner, .title-text > p {
        font-size: 17px;
    }
    .btn-div{
        padding: 20px 0;

    }
  }
  @media (max-width: 360px){
    .arr > img {
        width: 12px;
    }
    .arr{
        margin: 0 5px;

    }
    .amount{
        width: 52px;

    }
  }
  .plane-container > h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120.3%;    
    letter-spacing: 0.005em;
    
    color: #1A1818;
    
  }
  .plane-container {
      max-width: 1274px;
      margin: 100px auto;
  }
  .distancion-line{
      width: 100%;
      height: 2px;
      border-bottom: 2px dashed #656565;
      top: 35px;
      z-index: -9;
      position: absolute;
  }
  .distancion{
    margin-top: 53px;
   position: relative;
  }
  .number{
    width: 56px;
    height: 56px;
    background: linear-gradient(180deg, #C1943F 0%, #E0B743 100%);
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 120.3%;
/* or 43px */

text-align: center;
letter-spacing: 0.005em;

color: #FFFFFF;
font-family: Inter;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.etaps{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:1300px){
    .plane-container{
        margin-left: 34px;
    margin-right: 34px;
    }
    .plane-container > h3{
        font-size: 25px;
    }
    .dist-icon > img{
        width: 53px;
    }
    .number {
        width: 45px;
        height: 45px;
        font-size: 25px;

    }
        .distancion-line{
            top: 26px;
        }
}
@media (max-width: 768px){
    .etaps{
        
    display: flex;
    align-items: self-end;
    justify-content: start;
    flex-direction: column;
    width: 50px;

    }
    .etaps > div{
        margin-bottom: 30px;

    }
 
    .distancion-line{
        width: 25px;
        height: 92%;
        border-right: 2px dashed #656565;
    top: 35px;
    z-index: -9;
    position: absolute;
    border-bottom: unset;
    }
    .dist-icon{
        transform: rotate(
90deg
);
    }
}
.prop{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 115.3%;
text-align: center;
letter-spacing: 0.005em;

color: #211F1F;
max-width: 222px;
text-align: center;
}
.prop > p > span{
    font-weight: 600;
    display: block;
}
.properties{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.qr{
    width: 108px;
}
.qr > img{
    width: 100%;
}
@media (max-width:1300px){
    .prop{
        font-size: 19px;

    }
}
@media (max-width:1000px){
    .prop{
        font-size: 15px;

    }
}
@media (max-width:768px){
    .properties{
        margin-top: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 22px;

    }
    .distancion{
        display: flex;
        align-items: center;
    }
    .prop{
        font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 115.3%;
   
    letter-spacing: 0.005em;
    color: #211F1F;
    max-width: 460px;
    text-align: left;
    margin-bottom: 88px;

    }
    .qr {
        width: 59px;
    }
}
@media (max-width: 450px){
    .plane-container > h3 {
        font-size: 20px;
    }
    .plane-container {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}
.plane-box{
    max-width: 381px;
    border: 2px solid #D4A83D;
box-sizing: border-box;
border-radius: 5px;
padding: 5px 20px;
display: flex;
align-items: center;
margin-bottom: 38px;
}
.mask-text{
    border-left: 2px dashed #D4A83D;
}
.mask{
    margin-right: 18px;

}
.mask-text > p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 112.02%;
letter-spacing: 0.005em;

color: #535353;
padding: 19px 16px;
}

.plane-section{
    margin-top: 65px;
    display: flex;
    max-width: 1267px;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:850px){
    .plane-box {
        max-width: 330px;
    }
    .mask-text > p{
        font-size: 18px;
    }
}
@media (max-width:730px){


    .plane-box {
        max-width: 300px;
    }
    .mask-text > p {
        font-size: 15px;
        padding: 10px 14px;

    }
}
@media (max-width:670px){

    .plane-section{
        flex-direction: column;
        align-items: center;
    }

}
.norms{
    font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 143.52%;
/* or 32px */

letter-spacing: 0.005em;

color: #424242;
margin: 55px 0;
}
.box-aero{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 195px;
    height: 191px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0 11px;
    margin-bottom: 40px;

}
.aeroflot-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hd-logo{
    width: 182px;
    margin: auto;
    padding: 35px 0;
    height: auto;
}

.box-aero > p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 129.02%;
/* or 23px */

text-align: center;
letter-spacing: 0.005em;

color: #404040;
}
.box-aero > p > span{
    font-weight: 600;
}
.hd-logo > img{
    width: 100%;
    max-height: 50px;
    height: auto;
}
@media (max-width:1200px){
    .box-aero{
        width: 170px;

    }
    .hd-logo {
        width: 150px;
    }
    .box-aero > p{
        font-size: 16px;
    }
 
}
@media (max-width:1000px){
    .aeroflot-content{
        justify-content: start;

    }
    .box-aero{
        width: 170px;
    margin: 20px auto;

    }
}
.transfer-content{
    display: flex;
    justify-content: space-between;
}
.wrapper-transfer {
    max-width: 746px;
}
.wrapper-transfer > h3{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 112.02%;
/* or 40px */

letter-spacing: 0.005em;

color: #1A1818;
margin-bottom: 53px;
}
.block{
    font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 146.5%;
/* or 32px */

letter-spacing: 0.005em;

color: #424242;

}
.bl{
    margin-bottom: 53px;
}
.moretext{
    display: none;
}
.moreless-button{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 138.5%;
letter-spacing: 0.005em;
text-decoration-line: underline;

color: #545454;
}
.as{
    transform: rotate(-90deg);
}
.moreless-button > img{
    margin-left: 5px;

}
.wrapper-img{
    max-width: 407px;
border-radius: 5px;
margin-top: 10px;
}
.wrapper-img > img{
    width: 100%;
    border-radius: 5px;
}
@media (max-width:1200px){
    .block{
        font-size: 18px;
    }
    .wrapper-img{
        max-width: 334px;

    }
    .wrapper-transfer {
        max-width: 600px;
    }
    .bl {
        margin-bottom: 10px;
    }
    .wrapper-transfer {
        max-width: 495px;
    }
    
    
}
@media (max-width:1000px){
    .transfer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper-transfer {
        max-width: 475px;
    }
}
@media (max-width:800px){
    .transfer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper-transfer {
        max-width: 375px;
    }
    .block {
        font-size: 16px;
    }
    .wrapper-transfer > h3{
        font-size: 22px;

    }
}
@media (max-width:700px){
    .transfer-content{
        flex-direction: column;
        align-items: start;

    }
    .wrapper-transfer{
        max-width: unset;
    }
}
.calls-container{
    width: 100%;
    background-image: url(../img/rec.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 0px;

}
.call-box{
    background: rgba(255, 255, 255, 0.2);
border: 2px solid #E2E2E2;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(20px);
border-radius: 5px;
padding: 20px;
max-width: 556px;
margin-top: 40px;
}
.call-box > h4{
    max-width: 334px;
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 112.02%;
/* or 40px */

letter-spacing: 0.005em;

color: #1A1818;
}
.tel{
    
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 110.8%;
letter-spacing: 0.015em;

color: #3A3A3A;
margin: 18px 0;
}
.inp-item > input{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 129%;    
    letter-spacing: 0.005em;
    
    color: #6D6D6D;
    border:none;
    width: 100%;
    background-color: transparent;
    outline: none;
}
.inp-item{
    border-bottom: 1px solid #4D4D4D;
    max-width: 387px;
    margin-bottom: 45px;
}
.form-call{
    margin-top: 55px;

}
.privacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.privacy > a{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 110.8%;
text-align: center;
letter-spacing: 0.015em;
text-decoration-line: underline;

color: #4E4E4E;
}
.call-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wallpaper{
    max-width: 700px;
}
.wallpaper > img{
    width: 100%;
}
@media (max-width:1000px){
    .call-box > h4{
        font-size: 30px;
    }
    .privacy > a{
        font-size: 12px;
    }
    .tel{
        font-size: 18px;

    }
    .inp-item > input{
        font-size: 14px;
    }
}
@media (max-width:768px){
    .call-box > h4{
        font-size: 24px;
    }
    .privacy > a{
        font-size: 12px;
    }
    .tel{
        font-size: 14px;

    }
    .inp-item > input{
        font-size: 12px;
    }
  
}
@media (max-width:700px){
    .privacy{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .call-container{
        flex-direction: column;
        align-items: center;
    }
}